.btn {
    font-size: 24px;
    line-height: 28px;
}

.section__title {
    font-size: 36px;
    line-height: 41px;
}

.section__title::before {
    height: 2px;
}

.container {
    padding: 0 320px;
}

.header-menu__nav {
    gap: 96px;
}


.main-banner__text-color {
    font-size: 36px;
    line-height: 41px;

    width: 588px;
}

.main-banner__text-color::after {
    height: 2px;
}

.main-banner__text {
    font-size: 20px;
    line-height: 23px;

    width: 466px;

    margin-top: 125px;
    margin-left: 27px;
}

.main-banner__img {
    top: -106px;
    right: 0;
    left: auto;
}

.main-banner__top {
    padding-top: 185px;
    padding-bottom: 339px;
}

.main-banner__bottom::after {
    top: 270px;
}

.main-banner__bottom::before {
    top: 270px;
}

.main-banner__bottom-img {
    margin-top: -270px;
}

.main-banner__bottom-button {
    font-size: 24px;
    line-height: 28px;

    height: 63px;

    margin: 0 auto 10px;
}

.main-banner__bottom-big-text {
    font-size: 250px;
    line-height: 287px;
}

.main-banner__bottom-text {
    font-size: 24px;
    line-height: 28px;

    width: 524px;
}


/*=====================*/
/*######################################*/
/*========================*/
/********* section models style *********/
/*=======================*/
/*######################################*/
/*=====================*/


.models {
    margin-top: 271px;
}

.models__upper {
    padding: 180px 0 80px;
}

.model-list__item.info-gray .models-container {
    padding: 0 320px 0 150px;
}

.model-list__item.info-blue .models-container {
    padding: 0 150px 0 320px;
}

.model-list__item-info {
    padding: 209px 0 112px;
}

.model-list__item-info-name {
    font-size: 24px;
    line-height: 28px;
}

.model-list__item-info-number {
    font-size: 24px;
    line-height: 28px;
}

.model-list__item-info-number_mob_hide {
    display: inline;
}

.model-list__item-info-list {
    margin-top: 33px;

    padding: 17px 0 17px 24px;
}

.model-list__item.info-blue .model-list__item-info-list {
    padding: 0 0 17px 24px;

    margin-top: 53px;
}

.model-list__item-info-list-item {
    font-size: 20px;
    line-height: 23px;
}

.model-list__item.info-gray .model-list__item-info-bottom {
    margin-top: 77px;
}

.model-list__item.info-blue .model-list__item-info-bottom {
    margin-top: 92px;
}

/* .model-list__item.info-gray .model-list__item-info-bottom::before {
    content: "";

    display: block;

    height: 2px;
    width: 635px;

    background: var(--color-black-black-blue);

    margin-left: -150px;

    margin-bottom: 14px;
} */


.model-list__item-credit {
    font-size: 32px;
    line-height: 37px;
}

.model-list__item-info-price {
    gap: 26px;
}

.model-list__item-price {
    font-size: 64px;
    line-height: 75px;
}

.model-list__item-info-btns {
    margin-top: 40px;
}

.model-list__item-btn {
    height: 83px;
}

.model-list__item.info-blue .model-list__item-info-list::before {
    width: 50px;

    left: -50px;
}

.model-list__item.info-blue .line-position {
    height: 2px;
    width: 635px;

    background: var(--color-gray);

    position: absolute;
    bottom: 71px;

    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.model-list__item.info-gray .line-position {
    height: 2px;
    width: 635px;

    background: var(--color-black-blue);

    position: absolute;
    top: 158px;

    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/


/*=====================*/
/*######################################*/
/*========================*/
/********* section equip style *********/
/*=======================*/
/*######################################*/
/*=====================*/


.equip__upper {
    padding: 180px 0 80px;

    margin-left: 330px;
}

.equip-filter {
    flex-direction: row;
    justify-content: center;
    gap: 118px;
}

.equip-filter__select {
    width: 100%;
    width: 347px;
}

.equip-list {
    width: 100%;

    margin-top: 90px;
}

.equip-list__card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.equip-list__card-top {
    flex-basis: 50%;

    border-bottom: 2px solid var(--color-gray);
}

.equip-list__card-bottom {
    flex-basis: 50%;
}

.equip-list__card-bottom-container {
    padding: 0 150px 0 320px;
}

.equip-list__card-bottom {
    padding: 60px 0;
}

.equip-list__card-name-model {
    font-size: 36px;
    line-height: 41px;
}

.equip-list__card-bottom-info {
    gap: 20px;
}

.equip-list__card-name-equip {
    font-size: 16px;
    line-height: 18px;
}

.equip-list__card-bottom-price {
    margin-top: 41px;

    gap: 30px;
}

.equip-list__card-credit {
    font-size: 20px;
    line-height: 23px;
}

.equip-list__card-price {
    font-size: 20px;
    line-height: 23px;
}

.equip-list__card-price-big {
    font-size: 80px;
    line-height: 92px;
}

.equip-list__card-img {
    max-width: 702px;

    margin: 0 auto;
    display: block;
}

.equip__line1 {

    display: none;
}

.equip__line2 {
    display: none;
}

.equip-filter__select:nth-child(2) {
    position: relative;
}

.select-line1 {
    position: absolute;
    right: -56px;
    top: -55px;

    width: 590px;
    height: 2px;
    background: var(--color-gray);
}

.select-line2 {
    width: 2px;
    height: 300px;

    background: var(--color-gray);

    margin-left: auto;
}

.equip__title::after {
    width: 2px;
    height: 125px;


    bottom: -27px;
}



/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/


/*=====================*/
/*######################################*/
/*========================*/
/********* section credit style *********/
/*=======================*/
/*######################################*/
/*=====================*/



.credit {
    margin-top: 180px;
}

.credit__bg-top {
    padding: 170px 0 324px;
}

.credit__text p {
    font-size: 20px;
    line-height: 23px;

    margin-left: 30px;
}

.credit__line1 {
    width: 478px;
    height: 2px;

    top: -235px;
}

.credit__line2 {
    height: 298px;
    width: 2px;
}

.credit__text-line1 {
    width: 707px;
    height: 2px;

    right: auto;
    left: 0;
}

.credit__text-line2 {
    width: 2px;
    height: 280px;
}

.credit__text {
    padding-top: 205px;

    margin-left: auto;
    margin-right: 25%;

    width: max-content;
}


.credit__bg-bottom {
    padding: 80px 0 90px;
}

.credit__bg-bottom-head {
    font-size: 36px;
    line-height: 41px;
}

.credit__bg-bottom-list {
    gap: 37px;
}

.credit__bg-bottom-list-item {
    font-size: 18px;
    line-height: 21px;
}

.credit__form-inputs {
    gap: 30px;
}

.credit__input {
    height: 64px;

    font-size: 18px;
    line-height: 21px;

    padding-left: 29px;
}

.credit__input::placeholder {
    font-size: 18px;
    line-height: 21px;
}

.credit__bg-bottom-flex {
    justify-content: space-between;
}

.credit__form {
    width: 490px;
}

.credit__button {
    height: 83px;

    margin-top: 50px;
}


/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/



/*=====================*/
/*######################################*/
/*========================*/
/********* section contacts style *********/
/*=======================*/
/*######################################*/
/*=====================*/



.contacts {
    padding-bottom: 0;
}

.contacts__upper {
    padding: 180px 0 80px;

    margin: 0 auto;
}

.contacts__line1 {
    left: auto;
    right: -17px;
    top: 126px;

    height: 2px;
    width: 277px;
}

.contacts__line2 {
    width: 2px;
    height: 123px;
}

.contacts__line3 {
    width: 880px;
    height: 2px;

    background: var(--color-black-blue);

    margin-left: -335px;
}

.contacts__line4 {
    width: 2px;
    height: 63px;

    background: var(--color-black-blue);

    margin-left: -335px;
}


.contacts-container {
    display: flex;
    align-items: flex-end;
}

.contacts__list {
    flex-basis: 64%;

    gap: 81px;

    padding: 0 0 0 50px;

    margin: 0 0 48px;
}

.contacts__list-item {
    gap: 29px;
}

.contacts__list-item-text {
    font-size: 24px;
    line-height: 28px;
}

.contacts__list-item img {
    max-width: 36px;
}



/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/


/*=====================*/
/*######################################*/
/*========================*/
/********* footer style *********/
/*=======================*/
/*######################################*/
/*=====================*/

.footer {
    padding: 52px 0 42px;
}


.footer-flex {
    display: flex;
    gap: 137px;
}

.footer__link {
    width: max-content;
}

.footer__info {
    margin-top: 0;

    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
}

.footer-line {
    width: 100%;

    border: 1px solid #E7E7E7;

    margin-top: 25px;
}



/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/



.pop-up {
    width: 634px;
}

.fancybox__content {
    padding: 0;

   background: none;
}

.pop-up__bg-color.gray {
    display: block;
}

.pop-up__head {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #E7E7E7;
}

.pop-up__head-color {
    color: var(--color-black-black-blue);
}

.pop-up__bg-color.blue {
    padding: 12px 10px 6px;

    background: var(--color-black-blue);

    width: 215px;

    position: absolute;
    top: 90px;
    left: -68px;
}

.pop-up__bg-color.gray {
    background: var(--color-gray);

    padding: 8px 50px 8px 10px;

    height: 283px;
    width: 454px;
}

.pop-up__bg-color.blue .pop-up__bg-color-list {
    display: none;
}


.pop-up__bg-color-text {
    font-size: 14px;
    line-height: 16px;

    text-align: left;

    padding: 0 10px 0 0;
}


.pop-up__form-btn {
    font-size: 13px;
    line-height: 15px;

    height: 25px;

    margin-top: 15px;
}

.pop-up__form-input {
    height: 25px;
}

.pop-up__form {
    margin-top: 20px;
}


.pop-up__head {
    display: block;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #E7E7E7;

    position: relative;
}

.pop-up__sub-head {
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

    position: relative;
}

.pop-up__sub-head.small-text {
    color: #E7E7E7;

    display: inline;
}

.pop-up__bg-color-list {
    gap: 9px;

    margin: 8px 0 0;

    width: max-content;
    margin-left: auto;

    position: relative;
}

#popupFix .pop-up__bg-color-list {
    margin-right: -43px;
}

.pop-up__bg-color-list-img {
    position: absolute;
    left: -36px;
    top: 0;
}

.pop-up__bg-color-item {
    color: #E7E7E7;
}

.pop-up__bg-color-item_blue {
    color: var(--color-black-black-blue);
}


.pop-up__img-cont {
    display: block;

    position: absolute;
    bottom: -67px;
    right: 58px;
}

.pop-up__img-cont-bg {
    height: 131px;
    width: 100%;

    margin-top: -142px;

    background: var(--color-black-blue);
}

.pop-up__img-cont img {
    display: block;

    margin-left: -59px;
}

.pop-up__bg-color.blue .pop-up__bg-color-line1 {
    width: 2px;
    height: 100px;
    background: var(--color-black-blue);
    margin-top: -112px;
    margin-bottom: 10px;
    margin-left: 35px;

    position: relative;
}

.pop-up__bg-color.blue .pop-up__bg-color-line2 {
    width: 36px;
    height: 2px;

    background: var(--color-black-blue);

    position: absolute;
    top: 50%;
    left: -36px;
}

.pop-up__bg-color.blue .pop-up__bg-color-line3 {
    width: 2px;
    height: 50px;

    background: var(--color-black-blue);

    margin-bottom: -56px;
    margin-top: 6px;
    margin-left: 36px;
}


.pop-up__head::after {
    content: "";

    display: block;

    width: 2px;
    height: 90px;

    background: #AEBBC1;

    position: absolute;
    right: -24px;
    bottom: -19px;

}

.pop-up__sub-head-line1 {
    height: 2px;
    width: 460px;

    background: #AEBBC1;

    position: absolute;
    bottom: -4px;
    right: -154px;
    z-index: 1;
}

.pop-up__sub-head-line2 {
    width: 2px;
    height: 241px;

    background: #AEBBC1;

    margin-left: auto;
}



@media screen and (max-width: 1917px) {
    .model-list__item-price {
        font-size: 50px;
        line-height: 52px;
    }
}

@media screen and (max-width: 1900px) {
    .header-menu__nav {
        gap: 20px;
    }

    .main-banner__text-color {
        font-size: 28px;
        line-height: 30px;

        width: 458px;
    }

    .main-banner__bottom-big-text {
        font-size: 140px;
        line-height: 164px;
    }

    .main-banner__bottom-text {
        font-size: 18px;
        line-height: 20px;

        width: 340px;
    }

    .equip-list__card-price-big {
        font-size: 50px;
        line-height: 52px;
    }
}

@media screen and (max-width: 1750px) {
    .model-list__item-info {
        padding: 120px 0 60px;
    }

    .model-list__item-credit {
        font-size: 26px;
        line-height: 28px;
    }

    .model-list__item-price {
        font-size: 37px;
        line-height: 39px;
    }

    .model-list__item-info-number {
        font-size: 16px;
        line-height: 18px;
    }

    .model-list__item-info-list-item {
        font-size: 17px;
        line-height: 19px;
    }

    .model-list__item.info-gray .line-position {
        top: 57px;
    }

}

@media screen and (max-width: 1715px) {
    .credit__form {
        flex-basis: 45%;

        width: auto;
    }

    .credit__bg-bottom-head {
        font-size: 30px;
        line-height: 32px;
    }
}

@media screen and (max-width: 1650px) {
    .model-list__item.info-gray .models-container {
        padding: 0 320px 0 80px;
    }

    .model-list__item.info-blue .models-container {
        padding: 0 80px 0 320px;
    }
}


@media screen and (max-width: 1600px) {
    .container {
        padding: 0 150px;
    }

    .equip-list__card-bottom-container {
        padding: 0 50px 0 150px;
    }

    .model-list__item.info-gray .models-container {
        padding: 0 150px 0 50px;
    }

    .model-list__item.info-blue .models-container {
        padding: 0 50px 0 150px;
    }


    .main-banner__bottom-flex {
        justify-content: space-evenly;
    }

    .model-list__item.info-blue .line-position {
        bottom: 30px;
    }
}

@media screen and (max-width: 1550px) {
    .credit__text-line1 {
        width: 435px;
    }

    .credit__text {
        margin-right: 19%;
    }

    .footer-flex {
        gap: 50px;
    }
}

@media screen and (max-width: 1536px) {
    .equip__line1 {
        width: 518px;
    }
}

@media screen and (max-width: 1440px) {
    .main-banner__top {
        padding-top: 56px;
        padding-bottom: 271px;
    }

    .model-list__item.info-gray .line-position {
        top: 30px;
    }
}

@media screen and (max-width: 1400px) {
    .model-list__item.info-gray .model-list__item-info-bottom {
        margin-top: 45px;
    }

    .model-list__item-info {
        padding: 60px 0;
    }
}

@media screen and (max-width: 1366px) {
    .contacts__line3 {
        width: 670px;

        margin-left: -130px;
    }

    .contacts__line4 {
        margin-left: -130px;
    }
}


@media screen and (max-width: 1280px) {
    .container {
        padding: 0 70px;
    }

    .equip-list__card-bottom-container {
        padding: 0 30px 0 70px;
    }

    .model-list__item.info-gray .models-container {
        padding: 0 70px 0 30px;
    }

    .model-list__item.info-blue .models-container {
        padding: 0 30px 0 70px;
    }

    .header-menu__nav {
        gap: 25px;
    }

    .model-list__item-btn {
        height: 63px;
    }

    .model-list__item-info-btns {
        margin-top: 20px;
    }

    .model-list__item-info-list {
        gap: 15px;
    }

    .model-list__item.info-gray .model-list__item-info-bottom {
        margin-top: 25px;
    }

    .model-list__item-credit {
        font-size: 18px;
        line-height: 20px;
    }

    .model-list__item-price {
        font-size: 30px;
        line-height: 32px;
    }

    .select-line2 {
        height: 230px;
    }

    .equip__upper {
        margin-left: 200px;
    }

    .equip-filter {
        gap: 80px;
    }

    .contacts__list-item-text {
        font-size: 18px;
        line-height: 20px;
    }

    .contacts__list {
        gap: 40px;

        padding: 0 0 0 35px;
    }

    .contacts__list-item {
        gap: 17px;
    }

    .contacts__list-item img {
        max-width: 24px;
    }

}