.container {
    padding: 0 32px;
}

.main-banner__top-flex {
    display: flex;
    justify-content: center;
}

.main-banner__bottom-flex {
    justify-content: space-evenly;
}



/*=====================*/
/*######################################*/
/*========================*/
/********* section models style *********/
/*=======================*/
/*######################################*/
/*=====================*/


.model-list__item {
    display: flex;

    position: relative;
}

.model-list__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.model-list__item-img {
    width: 50%;
}

.model-list__item-info {
    width: 50%;
}

.model-list__item-btn {
    width: 100%;
}

/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/


/*=====================*/
/*######################################*/
/*========================*/
/********* section equip style *********/
/*=======================*/
/*######################################*/
/*=====================*/


/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/



/*=====================*/
/*######################################*/
/*========================*/
/********* section contacts style *********/
/*=======================*/
/*######################################*/
/*=====================*/


.contacts__line1 {
    left: -32px;
}



/*####################===============###################*/
/*####################===============###################*/
/*####################===============###################*/



@media screen and (min-width: 1024px) {
    .header-menu {
        position: static;
        width: auto;
        height: auto;
        opacity: 1;

        padding: 0;
    }

    .header-menu__flex {
        padding: 0;
    }

    .header-menu__number {
        display: none;
    }

    .header-menu__mob-img {
        display: none;
    }

    .header-menu__nav {
        flex-direction: row;
        gap: 10px;

        margin-top: 0;
    }

    .header-menu__nav-link {
        font-size: 14px;
        line-height: 16px;
        color: var(--color-black-blue);
    }

    .burger {
        display: none;
    }

    .header__link-img {
        display: inline-block;
    }
}